@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*, *:before, *:after,html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
page[size="A4"] {
    background: #fff;
    width: 21cm;
    /* height: 29.7cm; */
    /* min-height: 29.7cm; */
    display: block;
    margin: 0.5cm auto;
    /* border: 2px solid #e1e1e1; */
    -moz-box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px !important;
    -webkit-box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px !important;
    box-shadow: rgb(0 0 0 / 20%) 0px 18px 50px -10px !important;
    page-break-before:always;
}
.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}
.workplace-cover{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    justify-content: center;
}
.workplace-cover .workplace-logo {
    height: 170px;
    width: auto;
    margin-bottom: 10px;
}
.workplace-cover > p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
}
.workplace-cover > span {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0;
}
.workplace-cover .company-logo {
    height: 60px;
    margin-top: 20px;
    width: auto;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.header-workplace-logo{
    height: 50px;
    width: auto;
}
.header-company-logo{
    height: 50px;
    width: auto;
}
.page-heading {
    margin-bottom: 30px;
}
.page-heading span {
    display: inline-block;
    background: #9DCE63;
    color: #fff;
    padding: 10px 70px 10px 30px;
    justify-content: left;
    border-radius: 0 30px 30px 0;
    font-size: 1.4rem;
    margin-left: -40px;
}
ul.introduction-list li {
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 6px;
}
ul.introduction-list li:before {content: '';display: inline-block;height: 7px;width: 7px;min-width: 7px;border-radius: 50%;background: #212529;margin-right: 10px;}
ul.introduction-list {
    padding-left: 20px;
}
.quick-intro-wrapper label {
    font-weight: 500;
    margin-bottom: 0;
}
.quick-intro-wrapper p {
    font-size: 0.9rem;
    margin: 0 0 15px;
}
.respondents-donut {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.respondents-heading {
    font-weight: 500;
    font-size: 1.1rem;
}
table {
    border: 1px solid #ddd !important;
}
/* colors:['#008FFB','#00E396','#FEB019'], */
.table .thead-wellness th{
    background-color: #9DCE63 !important;
}
/* .table .thead-success th{
    background-color: #00E396 !important;
}
.table .thead-warning th{
    background-color: #FEB019 !important;
} */
.table thead th{
    color: #fff;
    font-size: 0.9rem;
    border-bottom: 1px solid #dee2e6;
}
.table tbody th{
    font-size: 0.9rem;
}
.table tbody td{
    font-size: 0.85rem;
}
.table tbody tr:nth-child(even){
    background-color: #cfe7b1 !important;
}
.table td, .table th{
    padding: 10px;
}

.gauge-wrapper {
    margin-bottom: 20px;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    display: block;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 7px;
}
.level-box-container{
    margin-top: 30px;
}
.level-box-wrap {
    /* border: 1px solid #ccc; */
}
.level-box-wrap > p{
    font-weight: 500;
}
.progress-list-wrap > p{
    font-weight: 500;
}
ul.level-box-main-list {
    padding: 0;
}
ul.level-box-main-list label{
    font-size: 0.9rem;
    font-weight: 500;
}

ul.level-box-main-list li {
    list-style: none;
    margin-bottom: 10px;
}

ul.level-box-inner-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

ul.level-box-inner-list .level-box {
    height: 60px;
    width: 60px;
    min-width: 60px;
    margin-right: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    color: #212529;
    justify-content: center;
}
.box-suceess{
    background-color: #A9D18E;
}
.box-warning{
    background-color: #FFE699;
}
.box-info{
    background-color: #9DC3E6;
}
.box-danger{
    background-color: #F8CBAD;
}
ul.level-box-inner-list .level-box .title {
    font-size: 1.1rem;
    font-weight: 500;
}

ul.level-box-inner-list .level-box .subtitle {
    font-size: 0.8rem;
}
ul.progress-list {
    padding: 0;
}

ul.progress-list li {
    list-style: none;
}

ul.progress-list li > label {
    margin-bottom: 3px;
    font-size: 0.9rem;
}
ul.progress-list .progress {
    border-radius: 0;
    height: 20px;
}

ul.progress-list .progress .progress-bar {
    background-color: #CE2E6C;
}

.statistical-table td{
        border: 1px solid #bcb8b8;
}
.statistical-table td{
        border: 1px solid #bcb8b8;
}
.statistical-table th{
    border-right: 1px solid #fff;
}
.statistical-table tr th:last-child{
        border-right: 0;
}


/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-loading .slick-list {
    background: white url(./ajax-loader.gif) center center no-repeat;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
  }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table;
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide img.slick-loading {
    background: white url(./ajax-loader.gif) center center no-repeat;
    padding-bottom: 100%;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  
  
  /* Arrows */
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
  }
  .slick-prev:focus,
  .slick-next:focus {
    outline: none;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25;
  }
  
  .slick-prev:before, .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-prev {
    left: -25px;
  }
  .slick-prev:before {
    content: '\2190';
  }
  
  .slick-next {
    right: -25px;
  }
  .slick-next:before {
    content: '\2192';
  }
  
  /* Dots */
  .slick-slider {
    margin-bottom: 30px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
  }
  .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    outline: none;
  }
  .slick-dots li button:focus {
    outline: none;
  }
  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
  }
  
  .slider-content {
    width: 94%;
    margin: auto;
  }
  
 
  
  /* Dots */
  .slick-slider {
    margin-bottom: 30px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
  }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
  }
  .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    outline: none;
  }
  .slick-dots li button:focus {
    outline: none;
  }
  .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 35px;
    line-height: 20px;
    text-align: center;
    color: #CE2E6C;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
  }

.gauge-card{
    padding: 14px 15px;
    margin: 10px;
      border-radius: 5px;
      -moz-box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
      -webkit-box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.slider-gauge{
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider-gauge svg{
    overflow: initial !important;
    position: initial !important;
    left:initial !important;
    top: initial !important;

}
.gauge-card label {
    color: #504658;
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.slick-prev:before{
    content: "";
    display: inline-block;
    background-image: url(../img/arrow.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slick-next:before{
    content: "";
    display: inline-block;
    background-image: url(../img/arrow.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.slick-prev, .slick-next{
    height: 50px;
    width: 25px;
    border-radius: 2px;
    background: rgba(0,0,0,0.1);
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1.statistical-heading {
    font-size: 1rem;
    margin-bottom: 20px;
}

p.statistical-statement {
    margin-bottom: 7px;
}
.comment-heading {
    font-weight: 500;
}



/* ================ The Timeline ================ */

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -36px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #9DCE63;
    z-index: 10;
  }
  
  .direction-r .flag:before {
    left: -36px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: #9DCE63;
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
